{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}

    <h1>Клиенты</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Номер телефона</th>
            <th scope="col">Адрес эл. почты</th>
            <th scope="col">Область</th>
            <th scope="col">Город</th>
            <th scope="col">Адрес</th>
            <th scope="col">Почтовый индекс</th>
            </tr>
        </thead>
        <tbody>
            {% if leads %}
                {% for lead in leads %}
                    <tr>
                        <td>{{ lead.first_name }}</td>
                        <td>{{ lead.last_name }}</td>
                        <td>{{ lead.phone }}</td>
                        <td>{{ lead.email }}</td>
                        <td>{{ lead.region }}</td>
                        <td>{{ lead.city }}</td>
                        <td>{{ lead.address }}</td>
                        <td>{{ lead.zipcode }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    {% else %}
    <br/>
    <h1 align="center">Войти в систему</h1>
    <br/>
    <form action="{% url "home" %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control"
            name="login" placeholder="Введите логин" Required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control"
            name="password" placeholder="Введите пароль" Required>
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
    {% endif %}
{% endblock content %}